.params {
  height: 100%;
  width: 100%;
  overflow: auto;
  border-top: 1px solid var(--border-color);

  & > .add,
  & > .bulk {
    display: flex;
    margin: 0.5rem;
  }

  [role='cell'] > div {
    justify-content: space-between;
    opacity: 0.7;
    font-style: italic;

    &:has(.draggable) {
      padding-left: 0;
    }

    &:has(.draggable):not(:has(.checkbox)) {
      .draggable > * {
        margin-left: 0.2rem;
      }
    }

    .draggable {
      height: 100%;
      cursor: grab;
      display: flex;
      align-items: center;
    }

    .checkbox {
      width: 100%;
    }
  }

  .selectCell {
    width: 100%;

    & > div {
      width: 100%;
      padding: 0;
    }

    select {
      width: 100%;
      border: none;
    }
  }

  .fileCell {
    width: 100%;
    padding: 0;

    .fileCellContent {
      display: flex;
      flex-direction: row;
      cursor: pointer;
      align-items: center;
      width: 100%;
      height: 100%;
      gap: 0.5rem;

      input {
        flex: 1;
        display: none;
      }

      .fileValue {
        flex: 1;
        height: 100%;
        display: flex;
        align-items: center;

        &.empty {
          opacity: 0.6;
          font-style: italic;
        }
      }

      .fileButton {
        width: 1.2rem;
      }
    }
  }

  .rowEnabled [role='cell'] > div {
    opacity: 1;
    font-style: normal;
  }
}

.footerParams {
  display: flex;
  justify-content: start;
  padding: 0.5rem;
  gap: 0.5rem;
}
