.params {
  height: 100%;
  width: 100%;
  overflow: auto;

  & > .add {
    display: flex;
    margin: 0.5rem;
  }

  [role='cell'] > div {
    opacity: 0.7;
    font-style: italic;
  }

  .rowEnabled [role='cell'] > div {
    opacity: 1;
    font-style: normal;
  }
}
