.params {
  height: 100%;
  width: 100%;
  overflow: auto;
  border-top: 1px solid var(--border-color);

  &:has([role='table']) {
    border-top: none;
  }

  & > .add {
    display: flex;
    margin: 0.5rem;
  }

  [role='cell'] > div {
    opacity: 0.7;
    font-style: italic;
  }

  .rowEnabled [role='cell'] > div {
    opacity: 1;
    font-style: normal;
  }
}
