:root {
  --background-0: #161616;
  --background-1: #1d1d1d;
  --background-2: #242424;
  --foreground-0: #b4b4b4;
  --foreground-1: #bbb;
  --foreground-2: #999;
  --content-0: #666;
  --content-1: #555;
  --content-2: #333;

  --yellow: rgb(251, 192, 0);
  --orange: rgb(251, 142, 0);
  --red: rgb(223, 48, 48);
  --magenta: rgb(223, 48, 101);
  --violet: rgb(158, 78, 248);
  --blue: rgb(66, 133, 244);
  --cyan: rgb(0, 210, 235);
  --green: rgb(108, 185, 73);

  --transparent-red: rgba(223, 48, 48, 0.1);
  --transparent-cyan: rgba(0, 230, 255, 0.2);
  --transparent-bg: rgba(0, 0, 0, 0.5);

  --background-base: var(--background-1);
  --background-content: var(--background-0);
  --base-color: var(--foreground-0);
  --icon-color: var(--foreground-1);
  --icon-danger-color: var(--magenta);

  --selected-color: var(--foreground-0);
  --accent-color: var(--transparent-cyan);
  --focus-color: var(--content-0);
  --border-color: var(--content-2);
  --hover-color: var(--foreground-1);
  --hover-background-color: var(--background-2);
  --active-color: var(--color-1);
  --active-background-color: var(--content-1);
  --highlight-color: var(--cyan);

  --sidePanel-color: var(--background-2);
  --sidePanel-color-hover: var(--content-2);
  --sidePanel-active-background-color: var(--sidePanel-color-hover);
  --sidePanel-icon-color: var(--foreground-1);
  --sidePanel-menu-color: var(--background-base);

  --success-background-color: var(--transparent-cyan);
  --error-background-color: var(--transparent-red);
  --error-color: var(--red);
  --danger-color: var(--red);
  --overlay-color: var(--transparent-bg);
  --cancel-color: var(--transparent-red);

  --input-background-color: transparent;
  --input-color: var(--foreground-2);
  --input-placeholder-color: var(--content-0);
  --input-border-color: var(--content-1);
  --input-hover-background-color: var(--background-1);
  --input-hover-color: var(--foreground-0);
  --input-hover-border-color: var(--content-1);
  --input-disabled-color: var(--content-0);
  --input-undefined-color: var(--content-0);
  --input-select-background-color: var(--input-hover-background-color);

  --button-background-color: transparent;
  --button-color: var(--foreground-0);
  --button-border-color: var(--border-color);
  --button-hover-background-color: var(--background-1);
  --button-hover-color: var(--foreground-0);
  --button-hover-border-color: var(--content-1);
  --button-active-background-color: var(--background-1);
  --button-active-color: var(--color-1);
  --button-active-border-color: var(--content-1);

  --button-cancel-background-color: transparent;
  --button-cancel-color: var(--content-0);
  --button-cancel-border-color: var(--border-color);
  --button-cancel-hover-background-color: var(--background-2);
  --button-cancel-hover-color: var(--content-0);
  --button-cancel-hover-border-color: var(--border-color);
  --button-cancel-active-background-color: var(--background-1);
  --button-cancel-active-color: var(--content-0);
  --button-cancel-active-border-color: var(--content-1);

  --button-ok-background-color: var(--background-2);
  --button-ok-color: var(--content-0);
  --button-ok-border-color: var(--content-1);
  --button-ok-hover-background-color: var(--content-2);
  --button-ok-hover-color: var(--content-0);
  --button-ok-hover-border-color: var(--content-0);
  --button-ok-active-background-color: var(--background-2);
  --button-ok-active-color: var(--content-0);
  --button-ok-active-border-color: var(--content-0);

  --button-focus-color: var(--color-1);

  --link-color: var(--content-0);
  --link-hover-color: var(--foreground-2);

  --select-arrow-color: var(--content-0);

  --status-200-color: var(--green);
  --status-300-color: var(--yellow);
  --status-400-color: var(--violet);
  --status-500-color: var(--red);
  --status-unkonwn-color: var(--content-0);

  --method-get-color: var(--green);
  --method-post-color: var(--blue);
  --method-put-color: var(--orange);
  --method-patch-color: var(--yellow);
  --method-delete-color: var(--magenta);
  --method-head-color: var(--cyan);
  --method-option-color: var(--violet);

  --method-select-background-color: transparent;
  --method-select-color: var(--base-color);
  --method-select-border-color: var(--border-color);
  --method-select-shadow-color: var(--transparent-bg);
  --method-select-hover-background-color: var(--input-hover-background-color);
  --method-select-hover-color: var(--input-hover-color);
  --method-select-hover-border-color: var(--input-hover-border-color);
  --method-select-option-background-color: var(--background-base);
  --method-select-option-color: var(--border-color);
  --method-select-option-hover-background-color: var(--hover-background-color);
  --method-select-option-hover-color: var(--base-color);

  --gutter-color: var(--border-color);
  --gutter-color-drag: var(--highlight-color);
  --gutter-transition: 0.2s;
  --gutter-transition-delay: 0.2s;

  --dialog-background-color: var(--background-0);
  --dialog-color: var(--foreground-0);
  --dialog-border-color: var(--border-color);
  --dialog-footer-color: var(--content-0);
  --dialog-footer-hover-color: var(--content-0);
  --dialog-footer-background-color: var(--background-1);

  --tab-color: var(--base-color);
  --tab-background-color: transparent;
  --tab-hover-background-color: var(--hover-background-color);
  --tab-selected-color: var(--selected-color);
  --tab-selected-background-color: var(--content-2);
  --tab-height: 33px;
  --tab-panel-background-color: var(--background-content);
  --tab-modal-background-color: var(--background-base);
  --tab-modal-border-color: var(--border-color);

  --response-no-content-color: var(--content-0);
  --response-no-content-background-color: var(--background-2);
  --loading-color: var(--content-0);
  --droppable-color: var(--content-0);
  --console-background-color: var(--background-0);
  --console-color: var(--content-0);

  --select-arrow: var(--base-color);

  --search-list-background-color: var(--background-content);
  --search-list-border-color: var(--border-color);
  --search-list-no-results-color: var(--content-0);
  --search-list-item-color: var(--foreground-1);
  --search-list-item-color-2: var(--content-0);
  --search-list-item-color-3: var(--content-1);
  --search-list-item-hover-color: var(--hover-background-color);
  --search-list-item-active-color: var(--transparent-cyan);
  --search-list-highlight-color: var(--transparent-cyan);

  --switch-text-color: var(--content-0);
  --switch-text-hover-color: var(--foreground-2);
  --switch-text-active-color: var(--foreground-2);
  --switch-color: var(--content-0);
  --switch-hover-color: var(--foreground-2);
  --switch-active-color: var(--foreground-2);
  --switch-background-color: var(--content-2);
  --switch-active-background-color: var(--success-background-color);

  --scrollbar-background-color: var(--background-base);
  --scrollbar-border-color: var(--border-color);
  --scrollbar-thumb-color: var(--border-color);
  --scrollbar-thumb-hover-color: var(--content-1);
  --scrollbar-corner-color: var(--content-0);

  --table-border-color: var(--border-color);
  --tooltip-color: var(--base-color);
  --tooltip-background-color: var(--background-base);
  --window-icon-color: var(--sidePanel-icon-color);
  --workspace-title-color: var(--base-color);

  background-color: var(--background-base);
  color: var(--base-color);

  --font-family: 'Ubuntu', 'DejaVu', 'Helvetica Neue', sans-serif;
  --font-size: 0.8rem;
  --top-bar-height: 2rem;
}

:root[data-theme='light'] {
  --foreground-0: #343a40;
  --foreground-1: #495057;
  --foreground-2: #6c757d;
  --content-0: #adb5bd;
  --content-1: #b8bfc5;
  --content-2: #c8d0d6;
  --background-2: #e8ebee;
  --background-1: #f2f4f7;
  --background-0: #fafbfc;
  --transparent-bg: rgba(0, 0, 0, 0.2);
}

:root[data-theme='hc-dark'] {
  --background-0: #000;
  --background-1: #222;
  --background-2: #333;
  --content-0: #ccc;
  --content-1: #888;
  --content-2: #055;
  --foreground-0: #fff;
  --foreground-1: #eee;
  --foreground-2: #ddd;
  --yellow: #ff0;
  --orange: #ffa500;
  --red: #f05;
  --magenta: #ea0084;
  --blue: #07f;
  --cyan: #198;
  --green: #3b0;
  --border-color: #777;
  --hover-background-color: #666;
  --highlight-color: var(--orange);
  --active-background-color: var(--content-2);
  --accent-color: var(--cyan);
  --search-list-highlight-color: var(--magenta);
  --search-list-item-active-color: var(--content-2);
  --transparent-bg: rgba(0, 0, 0, 0.7);
}

:root[data-theme='hc-light'] {
  --background-0: #fff;
  --background-1: #fafafa;
  --background-2: #eee;
  --content-0: #555;
  --content-1: #444;
  --content-2: #4db;
  --foreground-0: #000;
  --foreground-1: #222;
  --foreground-2: #333;
  --yellow: #770;
  --orange: #b50;
  --red: #d00;
  --cyan: #176;
  --magenta: #c06;
  --blue: #02a;
  --green: #050;
  --border-color: var(--content-1);
  --hover-background-color: var(--content-2);
  --highlight-color: var(--magenta);
  --active-background-color: var(--content-2);
  --accent-color: var(--content-2);
  --search-list-highlight-color: yellow;
  --search-list-item-active-color: var(--content-2);
  --transparent-bg: rgba(0, 0, 0, 0.4);
}

::selection {
  background-color: var(--accent-color);
  color: var(--selected-color);
}

::-webkit-scrollbar {
  height: 14px;
  width: 14px;
  border-left: 1px solid var(--scrollbar-border-color);
  background: var(--scrollbar-background-color);
}

::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb-color);
  border-left: 1px solid var(--scrollbar-border-color);
  transition: background-color 0.2s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--scrollbar-thumb-hover-color);
}

::-webkit-scrollbar-corner {
  background: var(--scrollbar-corner-color);
}

body {
  display: flex;
  flex-direction: column;
  font-family: var(--font-family);
  font-size: var(--font-size);
  overflow: hidden;
  padding-top: env(safe-area-inset-top);
}
body.mac {
  --top-bar-height: 2.3rem;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*:focus,
*:focus-visible {
  outline: none;
}

#root {
  width: 100vw;
  height: 100vh;
}

.app {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
