:root {
  --color-1: #fff;
  --color-2: #ddd;
  --color-3: #bbb;
  --color-4: #999;
  --color-5: #777;
  --color-6: #666;
  --color-7: #555;
  --color-8: #363636;
  --color-9: #282828;
  --color-10: #222;
  --color-11: #1d1d1d;
  --color-12: #000;

  --background-base: var(--color-10);
  --background-content: var(--color-11);

  --selected-color: var(--color-1);
  --base-color: var(--color-2);
  --accent-color: var(--color-5);
  --border-color: var(--color-8);
  --hover-color: var(--color-9);
  --sidePanel-color: var(--color-9);
  --sidePanel-color-hover: var(--color-8);
  --highlight-color: #0cf;
  --success-background-color: rgba(0, 204, 255, 0.2);
  --error-background-color: rgba(223, 48, 48, 0.1);
  --overlay-color: rgba(0, 0, 0, 0.5);

  --status-200-color: rgb(108, 185, 73);
  --status-300-color: rgb(255, 165, 0);
  --status-400-color: rgb(196, 80, 231);
  --status-500-color: rgb(223, 48, 48);
  --status-unkonwn-color: rgb(151, 151, 151);

  --method-get-color: rgb(73, 185, 166);
  --method-post-color: rgb(66, 133, 244);
  --method-put-color: rgb(251, 142, 0);
  --method-patch-color: rgb(251, 192, 0);
  --method-delete-color: rgb(223, 48, 101);
  --method-head-color: rgb(151, 151, 151);
  --method-option-color: rgb(158, 78, 248);

  --gutter-color: var(--border-color);
  --gutter-color-drag: var(--color-7);
  --gutter-transition: 0.2s;
  --gutter-transition-delay: 0.1s;

  --tab-color: var(--base-color);
  --tab-background-color: transparent;
  --tab-hover-background-color: var(--hover-color);
  --tab-selected-color: var(--selected-color);
  --tab-selected-background-color: var(--border-color);
  --tab-height: 33px;
  --tab-panel-background-color: var(--background-content);

  --select-arrow: var(--base-color);

  background-color: var(--background-base);
  color: var(--base-color);

  --font-family: Roboto, 'Ubuntu', 'Helvetica Neue', sans-serif;
  --font-size: 0.8rem;
}

/* Light theme */
@media (prefers-color-scheme: light) {
  :root {
    --color-1: #000;
    --color-2: #444;
    --color-3: #555;
    --color-4: #666;
    --color-5: #777;
    --color-6: #aaa;
    --color-7: #bbb;
    --color-8: #ccc;
    --color-9: #ddd;
    --color-10: #eee;
    --color-11: #fafafa;
    --color-12: #fff;

    --accent-color: var(--color-6);
    --border-color: var(--color-8);
    --hover-color: var(--color-9);
    --sidePanel-color: var(--color-10);
    --sidePanel-color-hover: var(--color-9);
    --tab-panel-background-color: var(--color-11);

    --highlight-color: #0088ff;
    --success-background-color: #69b9ff;

    --status-200-color: rgb(108, 185, 73);
    --status-300-color: rgb(255, 165, 0);
    --status-400-color: rgb(196, 80, 231);
    --status-500-color: rgb(223, 48, 48);

    --method-get-color: rgb(45, 151, 133);
    --method-post-color: rgb(66, 133, 244);
    --method-put-color: rgb(204, 99, 0);
    --method-patch-color: rgb(180, 138, 0);
    --method-delete-color: rgb(223, 48, 101);
    --method-head-color: rgb(126, 126, 126);
    --method-option-color: rgb(158, 78, 248);
  }
}

::selection {
  background-color: var(--accent-color);
  color: var(--selected-color);
}

::-webkit-scrollbar {
  height: 14px;
  width: 14px;
  border-left: 1px solid var(--border-color);
  background: var(--background-base);
}

::-webkit-scrollbar-thumb {
  background-color: var(--border-color);
  transition: background-color 0.2s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--accent-color);
}

::-webkit-scrollbar-corner {
  background: var(--color-12);
}

body {
  display: flex;
  flex-direction: column;
  font-family: var(--font-family);
  font-size: var(--font-size);
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*:focus,
*:focus-visible {
  outline: none;
}

#root {
  width: 100vw;
  height: 100vh;
}
