:root {
  --color-1: #f1f1f1;
  --color-2: #b4b4b4;
  --color-3: #bbb;
  --color-4: #999;
  --color-5: #777;
  --color-6: #666;
  --color-7: #555;
  --color-8: #363636;
  --color-9: #242424;
  --color-10: #1d1d1d;
  --color-11: #161616;
  --color-12: #000;

  --background-base: var(--color-10);
  --background-content: var(--color-11);
  --base-color: var(--color-2);
  --icon-color: var(--color-3);
  --icon-danger-color: #a78;

  --selected-color: var(--color-1);
  --accent-color: rgba(0, 204, 255, 0.2);
  --focus-color: var(--color-5);
  --border-color: var(--color-8);
  --hover-color: var(--color-3);
  --hover-background-color: var(--color-9);
  --active-color: var(--color-1);
  --active-background-color: var(--color-8);
  --sidePanel-color: var(--color-9);
  --sidePanel-color-hover: var(--color-8);
  --highlight-color: #0cf;

  --success-background-color: rgba(0, 204, 255, 0.2);
  --error-background-color: rgba(223, 48, 48, 0.1);
  --error-color: #ff4d4d;
  --danger-color: #a78;
  --overlay-color: rgba(0, 0, 0, 0.5);
  --cancel-color: rgba(223, 48, 48, 0.1);

  --input-background-color: transparent;
  --input-color: var(--color-4);
  --input-placeholder-color: var(--color-5);
  --input-border-color: var(--color-8);
  --input-hover-background-color: var(--color-9);
  --input-hover-color: var(--color-2);
  --input-hover-border-color: var(--color-7);
  --input-disabled-color: var(--color-5);
  --input-undefined-color: var(--color-5);

  --button-background-color: var(--color-10);
  --button-color: var(--color-2);
  --button-border-color: var(--color-8);
  --button-hover-background-color: var(--color-9);
  --button-hover-color: var(--color-2);
  --button-hover-border-color: var(--color-7);
  --button-active-background-color: var(--color-8);
  --button-active-color: var(--color-1);
  --button-active-border-color: var(--color-7);

  --button-cancel-background-color: transparent;
  --button-cancel-color: var(--color-5);
  --button-cancel-border-color: var(--color-8);
  --button-cancel-hover-background-color: var(--color-9);
  --button-cancel-hover-color: var(--color-6);
  --button-cancel-hover-border-color: var(--color-8);
  --button-cancel-active-background-color: var(--color-10);
  --button-cancel-active-color: var(--color-6);
  --button-cancel-active-border-color: var(--color-7);

  --button-ok-background-color: var(--color-9);
  --button-ok-color: var(--color-5);
  --button-ok-border-color: var(--color-7);
  --button-ok-hover-background-color: var(--color-8);
  --button-ok-hover-color: var(--color-5);
  --button-ok-hover-border-color: var(--color-6);
  --button-ok-active-background-color: var(--color-9);
  --button-ok-active-color: var(--color-6);
  --button-ok-active-border-color: var(--color-6);

  --button-focus-color: var(--color-1);

  --link-color: var(--color-5);
  --link-hover-color: var(--color-4);

  --select-arrow-color: var(--color-5);

  --status-200-color: rgb(108, 185, 73);
  --status-300-color: rgb(255, 165, 0);
  --status-400-color: rgb(196, 80, 231);
  --status-500-color: rgb(223, 48, 48);
  --status-unkonwn-color: rgb(151, 151, 151);

  --method-get-color: rgb(73, 185, 166);
  --method-post-color: rgb(66, 133, 244);
  --method-put-color: rgb(251, 142, 0);
  --method-patch-color: rgb(251, 192, 0);
  --method-delete-color: rgb(223, 48, 101);
  --method-head-color: rgb(151, 151, 151);
  --method-option-color: rgb(158, 78, 248);

  --gutter-color: var(--border-color);
  --gutter-color-drag: var(--highlight-color);
  --gutter-transition: 0.2s;
  --gutter-transition-delay: 0.2s;

  --dialog-background-color: var(--color-11);
  --dialog-color: var(--color-2);
  --dialog-border-color: var(--color-8);
  --dialog-footer-color: var(--color-5);
  --dialog-footer-hover-color: var(--color-6);
  --dialog-footer-background-color: var(--color-10);

  --tab-color: var(--base-color);
  --tab-background-color: transparent;
  --tab-hover-background-color: var(--hover-background-color);
  --tab-selected-color: var(--selected-color);
  --tab-selected-background-color: var(--border-color);
  --tab-height: 33px;
  --tab-panel-background-color: var(--background-content);

  --response-no-content-color: var(--color-5);
  --response-no-content-background-color: var(--color-9);
  --loading-color: var(--color-5);
  --droppable-color: var(--color-5);
  --console-color: var(--color-5);

  --select-arrow: var(--base-color);

  --search-list-background-color: var(--background-content);
  --search-list-border-color: var(--border-color);
  --search-list-no-results-color: var(--color-6);
  --search-list-item-color: var(--color-3);
  --search-list-item-color-2: var(--color-5);
  --search-list-item-color-3: var(--color-7);
  --search-list-item-hover-color: var(--hover-background-color);
  --search-list-item-active-color: var(--active-background-color);
  --search-list-highlight-color: #0cf4;

  --switch-text-color: var(--color-5);
  --switch-text-hover-color: var(--color-4);
  --switch-text-active-color: var(--color-4);
  --switch-color: var(--color-5);
  --switch-hover-color: var(--color-4);
  --switch-active-color: var(--color-4);
  --switch-background-color: var(--color-8);
  --switch-active-background-color: var(--success-background-color);

  background-color: var(--background-base);
  color: var(--base-color);

  --font-family: 'Ubuntu', 'DejaVu', 'Helvetica Neue', sans-serif;
  --font-size: 0.8rem;
}

:root[data-theme='light'] {
  --color-1: #000;
  --color-2: #444;
  --color-3: #555;
  --color-4: #666;
  --color-5: #777;
  --color-6: #aaa;
  --color-7: #bbb;
  --color-8: #ccc;
  --color-9: #ddd;
  --color-10: #eee;
  --color-11: #fafafa;
  --color-12: #fff;

  --accent-color: #69b9ff;
  --border-color: var(--color-8);
  --hover-color: var(--color-9);
  --sidePanel-color: var(--color-10);
  --sidePanel-color-hover: var(--color-9);
  --tab-panel-background-color: var(--color-11);

  --highlight-color: #0088ff;
  --success-background-color: #69b9ff;
  --error-background-color: #ff4d4d;
  --error-color: #ff4d4d;
  --overlay-color: rgba(0, 0, 0, 0.5);
  --cancel-color: rgba(255, 77, 77, 0.1);

  --status-200-color: rgb(108, 185, 73);
  --status-300-color: rgb(255, 165, 0);
  --status-400-color: rgb(196, 80, 231);
  --status-500-color: rgb(223, 48, 48);

  --method-get-color: rgb(45, 151, 133);
  --method-post-color: rgb(66, 133, 244);
  --method-put-color: rgb(204, 99, 0);
  --method-patch-color: rgb(180, 138, 0);
  --method-delete-color: rgb(223, 48, 101);
  --method-head-color: rgb(126, 126, 126);
  --method-option-color: rgb(158, 78, 248);
}

:root[data-theme='monokai'] {
  --color-0: #1e1f19; /* Fons principal */
  --color-1: #272822; /* Fons principal */
  --color-2: #3e3d32; /* Fons secundari */
  --color-3: #49483e; /* Elements menys destacats */
  --color-4: #75715e; /* Elements de transició */
  --color-5: #a59f85; /* Text menys destacat */
  --color-6: #f8f8f2; /* Text principal */
  --color-7: #fd971f; /* Accent groc-taronja */
  --color-8: #f92672; /* Accent rosa intens */
  --color-9: #66d9ef; /* Accent blau */
  --color-10: #a6e22e; /* Accent verd */
  --color-11: #ae81ff; /* Accent lila */
  --color-12: #f8f8f0; /* Fons secundari clar */

  --background-base: var(--color-1);
  --background-content: var(--color-0);
  --base-color: var(--color-6);
  --icon-color: var(--color-6);

  --accent-color: var(--color-6);
  --border-color: var(--color-3);
  --hover-color: var(--color-6);
  --hover-background-color: var(--color-2);
  --active-color: var(--color-6);
  --active-background-color: var(--color-2);
  --sidePanel-menu-color: var(--color-1);
  --sidePanel-color: var(--color-2);
  --sidePanel-color-hover: var(--color-4);

  --highlight-color: var(--color-9);
  --success-background-color: var(--color-10);
  --error-background-color: var(--color-8);
  --error-color: var(--color-8);
  --overlay-color: rgba(0, 0, 0, 0.45);
  --cancel-color: rgba(249, 38, 114, 0.1);

  --input-background-color: transparent;
  --input-color: var(--color-6);
  --input-placeholder-color: var(--color-5);
  --input-border-color: var(--color-4);
  --input-hover-background-color: var(--color-2);
  --input-hover-color: var(--color-6);
  --input-hover-border-color: var(--color-5);
  --input-disabled-color: var(--color-5);
  --input-undefined-color: var(--color-5);

  --button-background-color: transparent;
  --button-color: var(--color-6);
  --button-border-color: var(--color-4);
  --button-hover-background-color: var(--color-3);
  --button-hover-color: var(--color-6);
  --button-hover-border-color: var(--color-5);
  --button-active-background-color: var(--color-4);
  --button-active-color: var(--color-6);
  --button-active-border-color: var(--color-5);
  --button-focus-color: var(--color-6);

  --button-cancel-background-color: transparent;
  --button-cancel-color: var(--color-4);
  --button-cancel-border-color: var(--color-3);
  --button-cancel-hover-background-color: var(--color-2);
  --button-cancel-hover-color: var(--color-5);
  --button-cancel-hover-border-color: var(--color-4);
  --button-cancel-active-background-color: var(--color-3);
  --button-cancel-active-color: var(--color-6);
  --button-cancel-active-border-color: var(--color-5);

  --button-ok-background-color: var(--color-2);
  --button-ok-color: var(--color-6);
  --button-ok-border-color: var(--color-4);
  --button-ok-hover-background-color: var(--color-3);
  --button-ok-hover-color: var(--color-6);
  --button-ok-hover-border-color: var(--color-5);
  --button-ok-active-background-color: var(--color-4);
  --button-ok-active-color: var(--color-6);
  --button-ok-active-border-color: var(--color-6);

  --link-color: var(--color-5);
  --link-hover-color: var(--color-6);

  --select-arrow-color: var(--color-5);

  --gutter-color: var(--border-color);
  --gutter-color-drag: var(--color-8);

  --dialog-background-color: var(--color-0);
  --dialog-color: var(--color-6);
  --dialog-border-color: var(--color-3);
  --dialog-footer-color: var(--color-5);
  --dialog-footer-hover-color: var(--color-6);
  --dialog-footer-background-color: var(--color-1);

  --tab-color: var(--base-color);
  --tab-background-color: transparent;
  --tab-hover-background-color: var(--color-2);
  --tab-selected-color: var(--base-color);
  --tab-selected-background-color: var(--color-3);
  --tab-panel-background-color: var(--color-0);

  --status-200-color: var(--color-10);
  --status-300-color: var(--color-7);
  --status-400-color: var(--color-11);
  --status-500-color: var(--color-8);

  --method-get-color: var(--color-10);
  --method-post-color: var(--color-9);
  --method-put-color: var(--color-7);
  --method-patch-color: #e6db74;
  --method-delete-color: var(--color-8);
  --method-head-color: var(--color-5);
  --method-option-color: var(--color-11);

  --console-color: var(--color-5);
  --droppable-color: var(--color-5);
  --loading-color: var(--color-5);
  --response-no-content-color: var(--color-5);
  --response-no-content-background-color: var(--color-0);

  --search-list-background-color: var(--background-content);
  --search-list-border-color: var(--border-color);
  --search-list-no-results-color: var(--color-6);
  --search-list-item-color: var(--color-6);
  --search-list-item-color-2: var(--color-5);
  --search-list-item-color-3: var(--color-7);
  --search-list-item-hover-color: var(--hover-background-color);
  --search-list-item-active-color: var(--active-background-color);
  --search-list-highlight-color: #66d9ef44;

  --switch-text-color: var(--color-5);
  --switch-text-hover-color: var(--color-6);
  --switch-text-active-color: var(--color-6);
  --switch-color: var(--color-5);
  --switch-hover-color: var(--color-6);
  --switch-active-color: var(--color-10);
  --switch-background-color: var(--color-3);
  --switch-active-background-color: var(--color-3);
}

::selection {
  background-color: var(--accent-color);
  color: var(--selected-color);
}

::-webkit-scrollbar {
  height: 14px;
  width: 14px;
  border-left: 1px solid var(--border-color);
  background: var(--background-base);
}

::-webkit-scrollbar-thumb {
  background-color: var(--border-color);
  transition: background-color 0.2s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-5);
}

::-webkit-scrollbar-corner {
  background: var(--color-12);
}

body {
  display: flex;
  flex-direction: column;
  font-family: var(--font-family);
  font-size: var(--font-size);
  overflow: hidden;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*:focus,
*:focus-visible {
  outline: none;
}

#root {
  width: 100vw;
  height: 100vh;
}
