.request-panel {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.request-basic {
  display: flex;
  flex-direction: row;
}

.request-method {
  display: flex;
  align-items: center;
  border: 1px solid var(--border-color);
  border-left: none;
  border-right: none;
  background-color: var(--background-content);
  min-height: 40px;
  min-width: 104px;
  font-size: 14px;
  line-height: 22px;
  user-select: none;
  transition: background-color 0.2s ease-in-out;

  &:hover {
    background-color: #282828;
  }
}

.request-url {
  /* url input */
  flex: 1;
  padding: 10px;
  border: 1px solid var(--border-color);
  background-color: var(--background-content);
  color: var(--base-color);
  font-size: 14px;
  line-height: 22px;
  outline: none;
  box-shadow: inset 0 0 0 1px transparent;
  transition: box-shadow 0.2s ease-in-out;

  &:focus {
    outline: none;
    box-shadow: inset 0 0 0 1px var(--accent-color);
  }
}

.request-send {
  /* send button */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  border: 1px solid var(--border-color);
  border-left: none;
  background-color: var(--background-content);
  font-size: 14px;
  font-weight: 500;
  color: var(--base-color);
  cursor: pointer;
  user-select: none;
  text-transform: uppercase;
  box-shadow: inset 0 0 0 1px transparent;
  transition:
    background-color 0.2s ease-in-out,
    color 0.2s ease-in-out,
    box-shadow 0.2s ease-in-out;

  &:hover {
    background-color: #282828;
    color: var(--highlight-color);
  }

  &:focus {
    box-shadow: inset 0 0 0 1px var(--accent-color);
  }
}

.request-params,
.request-headers {
  height: 100%;
  width: 100%;
  overflow: auto;

  &>.add {
    margin: 10px 8px;
  }

  & .row-enabled input {
    color: var(--selected-color) !important;
  }
}

.request-tabs,
.response {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.request-tabs .request-tabs-content,
.response .response-content {
  flex: 1;
  overflow: hidden;

  & .response-headers {
    height: 100%;
    overflow: auto;
  }
}

.response .response-body {
  height: 100%;
  display: grid;
  grid-template-rows: 30px 1fr;
  flex-direction: column;

  .response-body-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    gap: 20px;
    font-size: 13px;
    padding: 0 10px;
    text-transform: uppercase;
    border-bottom: 1px solid var(--border-color);
    user-select: none;

    .copy {
      color: var(--accent-color);
      cursor: pointer;
      transition: color 0.2s ease-in-out;

      &:hover {
        color: var(--base-color);
      }

      &:active {
        color: var(--highlight-color);
      }
    }

    .response-body-header-switch-raw {
      position: relative;
      color: var(--accent-color);
      cursor: pointer;
      box-shadow: inset 0 0 0 1px transparent;
      transition: color 0.2s ease-in-out;
      width: 60px;

      &::before {
        content: '';
        position: absolute;
        top: 1px;
        left: 34px;
        width: 26px;
        height: 13px;
        background-color: var(--border-color);
        border-radius: 10px;
      }

      &::after {
        content: '';
        position: absolute;
        top: 2px;
        left: 35px;
        width: 11px;
        height: 11px;
        background-color: var(--accent-color);
        border-radius: 10px;
        transition: background-color 0.2s ease-in-out, left 0.2s ease-in-out;
      }

      &:hover {
        color: var(--base-color);
      }

      &:active {
        color: var(--highlight-color);
      }

      &:hover::after {
        background-color: var(--base-color);
      }

      &.active {
        color: var(--base-color);
      }

      &.active::after {
        left: 48px;
        background-color: var(--base-color);
      }
    }
  }

  .response-body-content {
    height: 100%;
    overflow: hidden;
  }
}

.response .response-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  height: 22px;
  border-top: 1px solid var(--border-color);
  user-select: none;
}

.no-response {
  width: 100%;
  height: 100%;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--accent-color);
  font-size: 14px;
  user-select: none;

  &>.no-response-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;

    &>.no-response-title {
      font-size: 16px;
      font-weight: 500;
    }

    &>.no-response-message {
      font-size: 12px;
    }

  }
}