.sidePanel-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding: 0 .7rem;
  height: 2.5rem;
  cursor: default;
  user-select: none;

  & .sidePanel-header-title {
    width: 100%;
    font-size: 13px;
    font-weight: 500;
    color: var(--base-color);
    text-transform: uppercase;
    flex-grow: 1;
    padding: 0.8rem 0;
  }
}

.sidePanel-content {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
  user-select: none;
  min-width: 15rem;
  width: 100%;

  & .sidePanel-content-item {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    background-color: transparent;
    transition: background-color 0.2s ease-in-out;
    border-top: 1px solid var(--border-color);
    padding: 0.5rem 0.7rem;
    cursor: pointer;

    &:last-child {
      border-bottom: 1px solid var(--border-color);
    }

    &:hover {
      background-color: var(--sidePanel-color-hover);
    }
  }
}
