.dialog {
  width: 30rem;
}

.input {
  padding: 0.6rem;
}

.list {
  list-style-type: none;
  background-color: var(--search-list-background-color);
  border-top: 1px solid var(--search-list-border-color);
  max-height: 20rem;
  overflow-y: auto;
  overflow-x: hidden;

  li {
    padding: 0.5rem;
    cursor: pointer;
    user-select: none;
    display: flex;
    flex-direction: column;
    color: var(--search-list-item-color);
    gap: 0.4rem;

    &:hover {
      background-color: var(--search-list-item-hover-color);
    }
    &:active,
    &.selected {
      background-color: var(--search-list-item-active-color);
    }

    .highlight {
      background-color: var(--search-list-highlight-color);
    }

    .foundHead {
      display: flex;
      justify-content: space-around;
    }

    .collectionName,
    .folderPath {
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .collectionName {
      color: var(--search-list-item-color-2);
      font-weight: bold;
    }

    .folderPath {
      color: var(--search-list-item-color-3);
      font-style: italic;
      text-align: right;
      font-size: 0.66rem;
    }

    .request {
      display: flex;
      gap: 0.4rem;
      font-size: 0.66rem;

      .requestName {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }
}

.noResults {
  padding: 0.4rem;
  color: var(--search-list-no-results-color);
  font-style: italic;
  user-select: none;
}
