.gutter {
  position: relative;
  background: var(--gutter-color);
  transition:
    background-color var(--gutter-transition),
    box-shadow var(--gutter-transition);

  .inset {
    position: absolute;
    z-index: 1;
    inset: 0;
    background-color: var(--gutter-color);
    transition:
      background-color var(--gutter-transition),
      inset var(--gutter-transition);
  }

  &[data-resize-handle-state='hover'],
  &.drag {
    transition-delay: var(--gutter-transition-delay);
    background-color: var(--gutter-color-drag);

    .inset {
      z-index: 2;
      transition-delay: var(--gutter-transition-delay);
      background-color: var(--gutter-color-drag);
    }
  }

  &.vertical {
    cursor: col-resize;
    width: 1px;

    &[data-resize-handle-state='hover'],
    &.drag {
      .inset {
        inset: 0 -1px;
      }
    }
  }

  &.horizontal {
    cursor: row-resize;
    height: 1px;

    &[data-resize-handle-state='hover'],
    &.drag {
      .inset {
        inset: -1px 0;
      }
    }
  }
}
