.sideMenu {
  display: flex;
  flex-direction: column;
  width: 3rem;
  height: 100%;
  gap: 0;
  border-right: 1px solid var(--border-color);
  background-color: var(--sidePanel-menu-color);

  &.mac {
    --mac-spacer: 5.2rem;
    width: var(--mac-spacer);

    div.macSpacer {
      width: var(--mac-spacer);
      border-right: 1px solid var(--sidePanel-menu-color);
      height: var(--top-bar-height);
    }
  }

  &.collapsed {
    border-right-color: transparent;
    .macSpacer {
      border-right: none !important;
    }
  }

  & .workspace {
    position: relative;
    width: 100%;
    height: var(--top-bar-height);

    &::after {
      content: '';
      position: absolute;
      top: 0;
      right: -1px;
      width: 1px;
      height: 100%;
      background-color: var(--sidePanel-menu-color);
    }
  }

  & > .item {
    position: relative;
    width: 100%;
    height: 3.5rem;
    min-height: 3.5rem;

    &.active {
      background-color: var(--sidePanel-color);
      border: 1px solid var(--border-color);
      border-left: none;
      border-right: none;

      &:last-child {
        border-bottom: none;
      }

      &::after {
        content: '';
        position: absolute;
        top: 0;
        right: -1px;
        width: 1px;
        height: 100%;
        background-color: var(--sidePanel-color);
      }

      & > button {
        opacity: 1;
      }
    }

    .icon {
      color: var(--sidePanel-icon-color);
    }

    &.spacer {
      flex-grow: 1;
    }
  }
}

.customMenu {
  min-height: 1.96rem;
  height: var(--top-bar-height) !important;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    right: -1px;
    width: 1px;
    height: 100%;
    background-color: var(--sidePanel-menu-color);
  }
}

.customMenuModal {
  width: 10rem;
}
