.sideMenu {
  display: flex;
  flex-direction: column;
  width: 3rem;
  height: 100%;
  gap: 0px;
  border-right: 1px solid var(--border-color);
  background-color: var(--sidePnel-menu-color);

  &.mac {
    width: 4.6rem;
    margin-top: 2.5rem;
    border-top: 1px solid var(--border-color);
    height: calc(100% - 2rem);
  }

  &.collapsed {
    border-right-color: transparent;
  }

  & > .item {
    position: relative;
    width: 100%;
    height: 56px;

    &.active {
      background-color: var(--sidePanel-color);
      border: 1px solid var(--border-color);
      border-left: none;
      border-right: none;

      &:first-child {
        border-top: none;
      }

      &:last-child {
        border-bottom: none;
      }

      &::after {
        content: '';
        position: absolute;
        top: 0;
        right: -1px;
        width: 1px;
        height: 100%;
        background-color: var(--sidePanel-color);
      }

      & > button {
        opacity: 1;
      }
    }

    .icon {
      color: var(--sidePanel-icon-color);
    }

    &.spacer {
      flex-grow: 1;
      -webkit-app-region: drag;
    }
  }
}
