.overlay {
  position: fixed;
  inset: 0;
  z-index: 9999;
  background-color: var(--overlay-color);
  backdrop-filter: blur(2px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &.dialogOnTop {
    justify-content: start;
  }
}
.dialog {
  display: unset;
  color: unset;
  position: unset;
  inset: unset;
  z-index: unset;
  inset-inline-start: unset;
  inset-inline-end: unset;
  width: unset;
  height: unset;
  overflow: hidden;

  min-width: 10rem;
  min-height: 4rem;
  max-width: 80vw;
  max-height: 80vh;
  background-color: var(--dialog-background-color);
  color: var(--dialog-color);
  border: 1px solid var(--dialog-border-color);

  &.fullWidth {
    width: 100%;
    min-width: unset;
  }
}
