.methodSelect {
  display: flex;
  padding: 0 0.6rem;
  gap: 0.8rem;
  height: 100%;
  transition: background-color 0.2s ease-in-out;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  height: 2.5rem;
  cursor: pointer;

  &:hover {
    background-color: var(--hover-background-color);
  }
}

.selectModal {
  display: flex;
  border: 1px solid var(--border-color);
  background-color: var(--background-content);
  flex-direction: row;
  max-width: unset;

  & > * {
    padding: 0.5rem 0.6rem;
    cursor: pointer;
    white-space: no-wrap;
    overflow: visible;
    font-size: 0.9rem;
    transition: background-color 0.2s ease-in-out;

    &:hover {
      background-color: var(--hover-background-color);
    }
  }
}
