.button {
  padding: 0 0.4rem;
}

.tabsDialog {
  width: 30rem;
}

.input {
  padding: 0.6rem;
}

.tabsList {
  list-style-type: none;
  background-color: var(--search-list-background-color);
  border-top: 1px solid var(--search-list-border-color);
  max-height: 20rem;
  overflow-y: auto;
  overflow-x: hidden;

  li {
    padding: 0.5rem;
    cursor: pointer;
    user-select: none;
    display: flex;
    flex-direction: column;
    color: var(--search-list-item-color);
    gap: 0.4rem;

    &:hover {
      background-color: var(--search-list-item-hover-color);
    }
    &:active,
    &.selected {
      background-color: var(--search-list-item-active-color);
    }

    .tabName {
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .tabRequest {
      display: flex;
      gap: 0.4rem;
      font-size: 0.66rem;

      .tabRequestUrl {
        color: var(--search-list-item-color-2);
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }
}

.noResults {
  padding: 0.4rem;
  color: var(--search-list-no-results-color);
  font-style: italic;
  user-select: none;
}
