.input {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: 1fr;
  overflow: hidden;
  overflow-x: auto;

  &::-webkit-scrollbar {
    height: 0rem;
  }

  & > * {
    letter-spacing: 0.5;
    line-height: 10px;
    font-family: var(--font-family);
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 1;
    grid-column-end: 1;
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: start;
  }

  & > div {
    display: flex;
    align-items: center;
    justify-content: start;

    & > div {
      pointer-events: none;
      white-space: pre-wrap;
      word-wrap: break-word;
      color: var(--base-color);
      white-space: nowrap;

      mark {
        background: transparent;
        pointer-events: auto;
        height: 100%;

        &.variable {
          color: var(--highlight-color);
        }

        &.variableUndefined {
          color: var(--color-5);
        }

        &:hover {
          opacity: 0.8;
        }
      }
    }
  }

  input {
    background-color: transparent;
    border: none;
    outline: none;
    color: transparent !important;
    caret-color: var(--base-color);
    width: 100%;

    &::placeholder {
      color: var(--color-5);
    }
  }
}

.variableList {
  background-color: var(--background-content);
  padding: 0.5rem;
  border: 1px solid var(--border-color);
  display: flex;
  flex-direction: column;
  gap: 0.2rem;

  & > div {
    display: flex;
    gap: 0.5rem;
  }

  .variable {
    color: var(--highlight-color);
  }
  .variableUndefined {
    color: var(--color-5);
  }

  .variableValue {
    font-style: italic;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
