.droppable {
  width: 100%;

  &.dragOver {
    position: relative;

    &::before {
      content: '';
      position: absolute;
      inset: 0;
      width: 100%;
      height: 0;
      border-top: 2px solid var(--color-5);
    }

    &:has(.dragOver) {
      &::before {
        border-top: none;
      }
    }

    &.left::before {
      height: 100%;
      width: 0;
      border-top: none;
      border-left: 2px solid var(--color-5);
    }
  }
}
