.tooltip {
  pointer-events: none;
  z-index: 10;

  .content {
    max-width: 50rem;
    background-color: var(--tooltip-background-color);
    color: var(--tooltip-color);
    padding: 0.5rem;
    border: 1px solid var(--border-color);
    box-shadow: 0.2rem 0.3rem 0.6rem 0rem var(--transparent-bg);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
