.sidePanel {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background: linear-gradient(farthest-corner at 40px 40px, #16161a 0%, #21212a 100%);

  .workspace {
    height: var(--top-bar-height);
    min-height: var(--top-bar-height);
    color: var(--icon-color);
    background-color: var(--sidePanel-menu-color);
    display: flex;
    align-items: center;
    gap: 0.5rem;

    .name {
      text-transform: uppercase;
      opacity: 0.7;
    }
    .workspaceDrag {
      flex-grow: 1;
      height: 100%;
    }
  }

  .title {
    width: 100%;
    height: 2rem;
    padding: 0 10px;
    font-size: 12px;
    font-weight: 500;
    color: var(--base-color);
    text-transform: uppercase;
  }

  .content {
    width: 100%;
    height: 100%;
    overflow: hidden;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    background-color: var(--sidePanel-color);
    border-top: 1px solid var(--border-color);
    border-left: 1px solid var(--border-color);
    border-radius: var(--sidePanel-border-radius) 0 0 0;

    .sidePanel {
      & > div {
        display: none;
      }
      &.collection > .collections,
      &.environment > .environment,
      &.history > .history,
      &.cookies > .cookies,
      &.settings > .settings {
        height: 100%;
        display: flex;
        flex-direction: column;
      }
    }

    &:has(.sidePanel.collection) {
      border-radius: unset;
    }
  }
}
