.tabTitle {
  font-size: 13px;
  padding: 0;
  border-right: 1px solid var(--border-color);

  .content {
    display: block;
    display: flex;
    flex-direction: row;
    transition: background-color 0.2s ease-in-out;

    &:hover {
      background-color: var(--tab-hover-background-color);
      cursor: pointer;

      .close {
        visibility: visible;
      }
    }

    .title {
      padding: 0.5rem 0.1rem 0.5rem 0.7rem;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      flex-grow: 1;
      max-width: 16rem;
    }
  }

  &.active .content {
    background-color: var(--tab-selected-background-color) !important;
    color: var(--tab-selected-color) !important;

    .close {
      visibility: visible;
    }
  }

  .close {
    color: var(--base-color);
    padding: 0.5rem 0.5rem;
    visibility: hidden;
  }

  &.draft span.title {
    font-style: italic;
    font-weight: 100;
  }

  &.history span.title {
    font-style: italic;
  }

  &.collection span.title {
    font-weight: 500;
  }

  &.unsaved {
    position: relative;
    &::after {
      content: '';
      position: absolute;
      background: var(--highlight-color);
      height: 0.4rem;
      width: 0.4rem;
      inset: 0.8rem 0.4rem;

      border-radius: 50%;
    }
    span.title {
      font-style: italic;
      padding-left: 1.2rem;
    }
  }
}

.tooltip {
  background: var(--tab-hover-background-color);
  border: 1px solid var(--border-color);
  display: flex;
  flex-direction: column;

  & > * {
    padding: 0.4rem;
    border-bottom: 1px solid var(--border-color);
  }

  & > *:last-child {
    border-bottom: none;
  }

  .collection {
    font-weight: bold;
  }
}
