.tabTitle {
  font-size: 13px;
  padding: 0;
  border-right: 1px solid var(--color-10);

  & .content {
    display: block;
    display: flex;
    flex-direction: row;
    transition: background-color 0.2s ease-in-out;

    &:hover {
      background-color: var(--color-8);
      cursor: pointer;

      & .close {
        visibility: visible;
      }
    }

    & .title {
      padding: 0.5rem 0.1rem 0.5rem 0.7rem;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      flex-grow: 1;
      max-width: 16rem
    }
  }

  &.active .content{
    background-color: var(--tab-selected-background-color) !important;
    color: var(--tab-selected-color) !important;

    & .close {
      visibility: visible;
    }
  }

  & .close {
    color: var(--color-1);
    padding: 0.5rem 0.5rem;
    visibility: hidden;
  }

  &.draft span.title {
    font-style: italic;
    font-weight: 100;
  }
  
  &.history span.title {
    font-style: italic;
  }
  
  &.collection span.title {
    font-weight: 500;
  }

  & .input {
    background: var(--color-8);
    font-weight: 500;
    font-size: 12px;
    color: var(--color-1);
    border: 1px solid var(--highlight-color);
    margin: 0.2rem 0.3rem;
    padding: 0.15rem 0.4rem 0.25rem;
    width: 6rem;
  }
}

