.tabTitle {
  font-size: 13px;
  border-right: 1px solid var(--border-color);
  min-width: 6rem;

  .content {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0 0.5rem;
    height: var(--top-bar-height);
    transition: background-color 0.1s ease-in-out;

    &:hover {
      background-color: var(--tab-hover-background-color);
      cursor: pointer;

      .close {
        visibility: visible;
      }
    }

    .method {
      font-size: 0.6rem;
    }

    .title {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      flex-grow: 1;
      max-width: 8rem;
    }
  }

  &.active .content {
    background-color: var(--tab-selected-background-color) !important;
    color: var(--tab-selected-color) !important;

    .close {
      visibility: visible;
    }
  }

  .close {
    color: var(--base-color);
    visibility: hidden;
  }

  &.draft .title {
    font-style: italic;
    font-weight: 100;
  }

  &.history .title {
    font-style: italic;
  }

  &.collection .title {
    font-weight: 500;
  }

  &.unsaved {
    position: relative;
    &::after {
      content: '';
      position: absolute;
      background: var(--highlight-color);
      width: 0.4rem;
      height: 0.4rem;
      inset: calc(50% - 0.2rem) 0.6rem;
      border-radius: 50%;
    }
    .method {
      padding-left: 1rem;
    }
    .title {
      font-style: italic;
    }
  }
}

.tooltip {
  background: var(--tab-modal-background-color);
  border: 1px solid var(--tab-modal-border-color);
  display: flex;
  flex-direction: column;

  & > * {
    padding: 0.4rem;
    border-bottom: 1px solid var(--tab-modal-border-color);
  }

  & > *:last-child {
    border-bottom: none;
  }

  .collection {
    font-weight: bold;
  }

  .description {
    color: var(--base-color-semitransparent);
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 0.5rem;
    padding: 0 0.4rem;

    .icon {
      color: var(--base-color-semitransparent);
      width: 1.8rem;
      height: 1.8rem;
    }

    .text {
      font-style: italic;
      width: auto;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}
