.preRequest {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  border-top: 1px solid var(--border-color);

  .bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid var(--border-color);

    .method {
      height: 100%;
      display: flex;
      width: 7rem;
      font-size: 14px;
      line-height: 17px;
    }

    .url {
      flex: 1;
      padding: 0.6rem 0.82rem;
      border-left: 1px solid var(--border-color);

      &:has(*:focus) {
        box-shadow: inset 0 0 0 1px var(--focus-color);
      }
    }
  }

  .tabs {
    flex: 1;
    overflow-y: auto;

    .tabsList {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }

    .editor {
      height: 100%;
      border-top: 1px solid var(--border-color);
    }

    .dataToCapture {
      border-top: 1px solid var(--border-color);

      select {
        border: none;
        padding: 0.32rem 0;

        &:hover {
          background-color: var(--background-content);
        }
      }
      .add {
        display: flex;
        margin: 0.5rem;
      }
    }
  }
}
