.note {
  position: relative;

  .infoIcon {
    font-style: italic;
    font-size: 0.7rem;
    border: 1px solid var(--base-color);
    border-radius: 50%;
    width: 1rem;
    height: 1rem;
    self-align: center;
    text-align: center;
    opacity: 0.6;
    transition: opacity ease-in-out 0.1s;
  }
  &:hover .infoIcon {
    opacity: 1;
  }
}

.noteModal {
  background-color: var(--background-base);
  border: 1px solid var(--border-color);

  div {
    padding: 0.5rem;
    max-width: 10rem;
    max-height: 10rem;
    overflow-y: auto;
    white-space: wrap;
  }
}
