.popupBox {
  display: flex;
  flex-direction: column;
  min-width: 30rem;
  max-width: 40rem;
}

.message {
  font-size: 0.9rem;
  font-weight: 500;
  padding: 1rem;
  min-height: 5rem;
  flex: 1;

  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 0.5rem;
  border-top: 1px solid var(--dialog-border-color);
  background-color: var(--dialog-footer-background-color);
  padding: 0.5rem;

  button {
    min-width: 6rem;
  }
}

.danger {
  --button-ok-background-color: var(--danger-background-color);
  --button-ok-color: var(--danger-color);
  --button-ok-border-color: var(--danger-color);
  --button-ok-hover-background-color: color-mix(in srgb, var(--danger-color), transparent 30%);
  --button-ok-hover-color: var(--background-base);
  --button-ok-hover-border-color: var(--danger-color);
  --button-ok-active-background-color: var(--danger-background-color);
  --button-ok-active-color: var(--danger-color);
  --button-ok-active-border-color: var(--danger-color);
}
