.response {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  overflow: hidden;

  .content {
    flex: 1;
    overflow: hidden;

    .tabsList {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      background-color: var(--tabs-list-backgroun-color);

      .responseActions {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: end;
        gap: 0.5rem;
        font-size: 0.72rem;
        padding: 0 0.8rem;
        text-transform: uppercase;
        user-select: none;

        .copy {
          color: var(--link-color);
          cursor: pointer;
          transition: color 0.2s ease-in-out;
          display: flex;
          align-items: center;
          gap: 0.2rem;

          div {
            opacity: 0.5;
            transition: opacity 0.2s ease-in-out;
          }

          &:hover {
            color: var(--link-hover-color);
            div {
              opacity: 1;
            }
          }

          &:active {
            color: var(--highlight-color);
          }
        }
      }
    }

    .headers {
      height: 100%;
      overflow: auto;
    }
  }
}

.body {
  height: 100%;
  border-top: 1px solid var(--border-color);

  .bodyContent {
    background-color: var(--response-content-background-color);
    height: 100%;
    overflow: hidden;
  }
}

.bodyNoContent {
  background-color: var(--response-no-content-background-color);
  border-top: 1px solid var(--border-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  color: var(--response-no-content-color);
}

.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  height: 1.4rem;
  border-top: 1px solid var(--border-color);
  user-select: none;
}

.noResponse,
.error {
  width: 100%;
  height: 100%;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--response-no-content-color);
  font-size: 1rem;

  & > .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.2rem;
    padding: 0 1.4rem;
    text-align: center;

    & > .title {
      font-weight: 500;
      font-size: 1.2rem;
      margin-bottom: 1rem;
      user-select: none;
    }

    & > .message {
      font-size: 0.86rem;
    }

    .errorCause {
      font-size: 0.86rem;
      opacity: 0.6;
    }
  }
}

.error .title {
  color: var(--status-500-color);
}

.statusBar {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 3px 5px 3px 3px;
  background-color: var(--statusbar-background-color);
  color: var(--statusbar-color);
  user-select: none;

  &.opened {
    border-bottom: 1px solid var(--border-color);
  }

  & > .showConsole {
    align-self: start;
  }

  & > .status {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    font-size: 12px;
    gap: 10px;

    & > .item {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 5px;

      & > .name {
        font-weight: 500;
      }
      & > .value {
        color: var(--status-200-color);

        &.redirect {
          color: var(--status-300-color);
        }

        &.client-error {
          color: var(--status-400-color);
        }

        &.server-error {
          color: var(--status-500-color);
        }

        &.unknown {
          color: var(--status-unkonwn-color);
        }
      }
    }
  }
}
