.response {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  overflow: hidden;

  .content {
    flex: 1;
    overflow: hidden;

    & .headers {
      height: 100%;
      overflow: auto;
    }
  }
}

.body {
  height: 100%;
  display: grid;
  grid-template-rows: 30px 1fr;
  flex-direction: column;

  .bodyHeader {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    gap: 20px;
    font-size: 13px;
    padding: 0 10px;
    text-transform: uppercase;
    border-bottom: 1px solid var(--border-color);
    user-select: none;

    .copy {
      color: var(--accent-color);
      cursor: pointer;
      transition: color 0.2s ease-in-out;

      &:hover {
        color: var(--base-color);
      }

      &:active {
        color: var(--highlight-color);
      }
    }
  }

  .bodyContent {
    height: 100%;
    overflow: hidden;
  }
}

.bodyNoContent {
  background-color: var(--color-8);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  color: var(--accent-color);
}

.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  height: 22px;
  border-top: 1px solid var(--border-color);
  user-select: none;
}

.noResponse {
  width: 100%;
  height: 100%;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--accent-color);
  font-size: 14px;
  user-select: none;

  & > .noResponseContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;

    & > .noResponseTitle {
      font-size: 16px;
      font-weight: 500;
    }

    & > .noResponseMessage {
      font-size: 12px;
    }
  }
}

.statusBar {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 5px 0 2px;

  & > .showConsole {
    align-self: start;
  }

  & > .status {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    font-size: 12px;
    gap: 10px;

    & > .item {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 5px;

      & > .name {
        font-weight: 500;
      }
      & > .value {
        color: var(--status-200-color);

        &.redirect {
          color: var(--status-300-color);
        }

        &.client-error {
          color: var(--status-400-color);
        }

        &.server-error {
          color: var(--status-500-color);
        }

        &.unknown {
          color: var(--status-unkonwn-color);
        }
      }
    }
  }
}
