.filter {
  border-top: 1px solid var(--border-color);
}
.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.checkbox {
  display: flex;
  align-items: center;

  input[type='checkbox'] {
    border-radius: 50%;
    background-color: transparent;
    border-color: transparent;
  }

  &:hover input[type='checkbox'] {
    border-color: var(--input-hover-border-color) !important;
  }
}

.environment {
  .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    height: 2.1rem;
    padding: 0 0.3rem;
    width: 100%;
    border-top: 1px solid var(--border-color);

    &:hover .checkbox input[type='checkbox'] {
      border-color: var(--input-border-color);
    }

    &:has(.editing) .checkbox input[type='checkbox'] {
      visibility: hidden;
    }
  }

  .title {
    height: 2rem;
    flex-grow: 1;
    cursor: text;
    align-items: center;
    display: flex;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    input {
      width: 100%;
      font-size: 14px;
      color: var(--base-color);
      background-color: transparent;
      border: none;
      outline: none;
      padding: 0.5rem;
      transition: background-color 0.2s ease-in-out;

      &:focus {
        outline: none;
        box-shadow: inset 0 0 0 1px var(--focus-color);
      }
    }
  }

  .variable {
    display: flex;
    flex-direction: row;

    & > * {
      padding: 0.3rem 0.5rem;
      border: 1px solid var(--border-color);
      border-top: none;
      border-left: none;

      &:last-child {
        border-right: none;
      }
    }

    input {
      width: 100%;
      font-size: 13px;
      color: var(--base-color);
      background-color: transparent;
      outline: none;
      padding: 0.3rem 0.5rem;
      transition: background-color 0.2s ease-in-out;

      &:focus {
        outline: none;
        box-shadow: inset 0 0 0 1px var(--focus-color);
      }
      &.variableName {
        flex-grow: 1;
        max-width: 10rem;
      }
      &.variableValue {
        flex-grow: 1;
      }
    }
  }

  .footer {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
    padding: 0.3rem;
    width: 100%;
  }
}

.item {
  flex-direction: row !important;
  gap: 0.5rem !important;
  padding: 0 0.3rem 0 0.5rem !important;
  align-items: center;
  width: 100%;

  .checkbox input[type='checkbox'] {
    border-color: transparent;
  }

  .title {
    flex-grow: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0.5rem 0;
  }

  .edit {
    display: none;
  }

  &:hover .edit {
    display: block;
  }

  .menu {
    .menuIcon {
      display: none;
    }
  }

  &:has(.menuActive),
  &:hover,
  &:focus {
    opacity: 1;
    background-color: var(--sidePanel-color-hover);

    .folderEdit,
    .menuIcon {
      display: flex;
    }

    .checkbox input[type='checkbox'] {
      border-color: var(--input-border-color);
    }
  }
}

.remove {
  color: var(--danger-color);
}
