.filter {
  display: flex;
  width: 100%;
  background-color: var(--color-10);

  .input {
    flex-grow: 1;
    border-right: 1px solid var(--border-color);
    padding: 0.5rem;

    &:has(*:focus) {
      box-shadow: inset 0 0 0 1px var(--focus-color);
    }
  }

  button {
    width: 2rem;
    height: 2rem;
  }
}
