.newTab {
  margin: 0 0.4rem;
  width: 1.36rem;

  display: flex;
  gap: 0.5rem;
  cursor: pointer;
  align-items: center;
  opacity: 0.6;
  transition: opacity 0.2s ease-in-out;

  &.withLabel {
    width: unset;
  }

  button {
    opacity: 1;
  }

  .button {
    display: flex;
    align-items: center;
    gap: 0.4rem;
    padding: 0.4rem 1rem;

    border: 1px solid transparent;

    &:active,
    &:hover,
    &:focus {
      border: 1px solid transparent !important;
    }

    &:focus-visible {
      border: 1px solid var(--border-color) !important;
    }
  }

  .label {
    font-size: 1.24rem;
    color: var(--base-color);
    text-transform: none;
    flex: 1;
    white-space: nowrap;
  }

  &:hover,
  &:has(:focus) {
    opacity: 1;
  }
}
