.simpleTable {
  display: flex;
  flex-direction: column;
  font-size: 0.8rem;
  overflow-x: auto;

  .header,
  .row {
    display: grid;
    min-width: fit-content;
    width: 100%;
  }

  .cell:first-child {
    grid-row-start: 1;
    grid-row-end: 4;
  }

  .cell {
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--table-border-color);
    border-right: 1px solid var(--table-border-color);
    min-height: 2rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    transition: box-shadow 0.1s ease-in-out;

    &:last-child {
      border-right: none;
    }

    & > div {
      padding: 0 0.3rem;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: start;
      box-shadow: inset 0 0 0 1px transparent;
    }

    &:has(*:focus) {
      box-shadow: inset 0 0 0 1px var(--focus-color);
    }
  }

  .header {
    user-select: none;

    .cell {
      font-weight: 600;
      color: var(--base-color);

      .cellHeaderContent {
        flex: 1;
        min-width: 0;
        display: flex;
        align-items: center;

        & > span {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          flex: 1;
        }
      }

      &.draggable {
        position: relative;
        overflow: visible;

        .resize {
          width: 4px;
          height: 100%;
          background: transparent;
          padding: 0;
          position: absolute;
          right: -2px;
          top: 0;
          z-index: 10;
          transition: background-color var(--gutter-transition);

          &:hover,
          &.active {
            transition-delay: var(--gutter-transition-delay);
            background-color: var(--gutter-color-drag);
          }
        }
      }
    }
  }
}
