.simpleTable {
  display: flex;
  flex-direction: column;
  font-size: 0.8rem;
  border-top: 1px solid var(--table-border-color);

  .header,
  .row {
    display: grid;
  }

  .cell:first-child {
    grid-row-start: 1;
    grid-row-end: 4;
  }

  .cell {
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--table-border-color);
    border-right: 1px solid var(--table-border-color);
    min-height: 2rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    transition: box-shadow 0.1s ease-in-out;

    &:last-child {
      border-right: none;
    }

    & > div {
      padding: 0 0.3rem;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: start;
      box-shadow: inset 0 0 0 1px transparent;
    }

    &:has(*:focus) {
      box-shadow: inset 0 0 0 1px var(--focus-color);
    }
  }

  .header {
    user-select: none;

    .cell {
      font-weight: 600;
      color: var(--base-color);

      &.draggable {
        position: relative;
        .resize {
          width: 2px;
          height: 100%;
          position: absolute;
          right: 0;
          top: 0;
          cursor: col-resize;
          z-index: 10;
          background: var(--table-border-color);
          opacity: 0;
        }
      }
    }
  }
}
