.editor {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  border-top: 1px solid var(--border-color);
  background-color: var(--background-content);

  .content {
    flex: 1;
    overflow: hidden;
  }
}
