.settings {
  display: flex;
  flex-direction: column;
  height: 80vh;
  width: 80vw;
  background-color: var(--background-color);
  overflow: hidden;
}

.tabs {
  flex: 1;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 10px;
  padding: 10px;
  border-top: 1px solid var(--border-color);
}

.headers {
  border-top: 1px solid var(--border-color);
  padding: 0;
  height: 100%;
}

.description {
  border-top: 1px solid var(--border-color);
  padding: 0;
  height: 100%;

  textarea {
    width: 100%;
    height: 100%;
    padding: 1rem;
    border: none;
    background: transparent;
    color: var(--text-color);
    font-family: inherit;
    font-size: 14px;
    resize: none;
    outline: none;

    &::placeholder {
      color: var(--text-color-muted);
      opacity: 0.5;
    }
  }
}
