.settings {
  display: flex;
  flex-direction: column;
  height: 80vh;
  width: 80vw;
  background-color: var(--background-color);
  overflow: hidden;
}

.tabs {
  flex: 1;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  padding: 0.6rem;
  gap: 1rem;
  border-top: 1px solid var(--border-color);

  .buttons {
    display: flex;
    flex-direction: row;
    gap: 0.6rem;
  }

  .warning {
    color: var(--text-warning);
    font-size: 0.8rem;
    font-style: italic;
  }
}

.headers {
  padding: 0;
  height: 100%;
}

.description {
  border-top: 1px solid var(--border-color);
  padding: 0;
  height: 100%;
}
