.menu {
  &.active {
    .menuIcon {
      visibility: visible !important;
    }
  }
  .menuModal {
    background-color: var(--background-content);
    border: 1px solid var(--border-color);
    min-width: 10rem;

    .item {
      padding: 0.4rem 0.5rem;
      display: flex;
      align-items: center;
      gap: 0.6rem;
      cursor: pointer;
      transition: background-color 0.2s ease-in-out;

      &:hover {
        background-color: var(--hover-color);
      }

      & .icon {
        width: 1rem;
        height: 1rem;
      }
    }
    .itemSeparator {
      border-top: 1px solid var(--border-color);
      height: 0;
      padding: 0;
      margin: 0;
    }
  }
}
