.manageThemes {
  display: flex;
  flex-direction: column;
  height: 60vh;
  width: 60vw;
  min-width: 35rem;
  min-height: 20rem;
  user-select: none;
}

@media (max-width: 100rem) {
  .manageThemes {
    height: 80vh;
    width: 80vw;
  }
}

.header {
  border-bottom: 1px solid var(--border-color);
  padding: 0.6rem;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;

  .filterContent {
    display: flex;
    align-items: center;
    gap: 0.6rem;
  }

  .title {
    flex: 1;
    min-width: 150px;
  }

  .search {
    display: flex;
    align-items: center;
    gap: 0.4rem;
  }

  .filter {
    display: flex;
    align-items: center;
    gap: 0.4rem;
  }

  @media (max-width: 75rem) {
    justify-content: center;
    gap: 1rem;

    .title {
      flex-basis: 100%;
      text-align: center;
      margin-bottom: 0.5rem;
    }

    .filterContent {
      flex-direction: column;
    }

    .search {
      flex: 1;
      justify-content: flex-end;
    }

    .filter {
      flex: 1;
      justify-content: flex-start;
      overflow-x: auto;
      display: flex;
    }
  }
}

.content {
  flex: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column;

  .theme {
    padding: 0.6rem;
    border-bottom: 1px solid var(--border-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.6rem;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;

    &:hover {
      background-color: var(--hover-background-color);
    }

    .hasScroll &:last-child {
      border-bottom-color: transparent;
    }

    &.selected {
      background-color: var(--active-background-color);
    }

    &.deleting {
      background-color: var(--danger-background-color);

      .deleteTheme {
        color: var(--danger-color);
        white-space: nowrap;
      }
    }

    .themeName {
      flex: 1;
    }

    .themeActions {
      display: flex;
      align-items: center;
      gap: 1rem;
    }

    .selected {
      color: var(--active-color);
      font-size: 0.8rem;
      font-style: italic;
      border: 1px solid var(--active-color);
      border-radius: 1rem;
      padding: 0.1rem 0.5rem;
      opacity: 0.6;
    }

    .deleteTheme {
      color: var(--danger-color);
    }
  }
}

.footer {
  border-top: 1px solid var(--border-color);
  padding: 0.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.6rem;

  .importThemeContainer {
    display: flex;
    align-items: center;
    gap: 0.6rem;
  }

  .importTheme {
    display: flex;
    align-items: center;
    gap: 0.4rem;
    padding: 0.5rem;
  }

  .importError {
    color: var(--error-color);
    font-style: italic;
    font-size: 0.8rem;
  }
}
