.simpleSelect {
  width: 100%;
  position: relative;

  &::after {
    content: ' ';
    position: absolute;
    right: 0.6rem;
    top: 45%;
    border-left: 0.3rem solid transparent;
    border-right: 0.3rem solid transparent;
    border-top: 0.3rem solid var(--select-arrow-color);
    transition: border-color 0.2s ease-in-out;
  }

  &:hover::after {
    border-top-color: var(--base-color);
  }

  & .select {
    appearance: none;
    width: 100%;
    border: 1px solid var(--input-border-color);
    background-color: var(--input-background-color);
    color: var(--input-color);
    cursor: pointer;
    user-select: none;
    padding: 0.54rem 0.45rem;
    position: relative;
    transition:
      background-color 0.2s ease-in-out,
      color 0.2s ease-in-out,
      border-color 0.2s ease-in-out;

    &:hover,
    &:active {
      background-color: var(--input-hover-background-color);
      color: var(--inpur-hover-color);
      border-color: var(--input-hover-border-color);
    }

    &:focus {
      outline: none;
      border-color: var(--focus-color);
    }

    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
      border: 1px solid var(--input-disabled-color);
      background-color: transparent;
      color: var(--input-disabled-color);
    }

    optgroup:before{
      content: attr(label);
      color: var(--optgroup-color);
      text-transform: uppercase;
      font-weight: bold;
      border-bottom: 1px solid var(--border-color);
    }
  }
}
