.console {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--console-background-color);

  & > .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    padding: 0 10px;
    border-bottom: 1px solid var(--border-color);
    user-select: none;

    & > .title {
      font-size: 12px;
      font-weight: 500;
      color: var(--base-color);
      text-transform: uppercase;
      flex-grow: 1;
    }

    & > .clear,
    & > .close {
      height: 30px;
    }
  }

  & > .noLogs {
    width: 100%;
    height: 100%;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--console-color);
    font-size: 14px;
    user-select: none;
  }

  & > .content {
    width: 100%;
    flex-grow: 1;
    overflow-y: auto;
    display: flex;
    flex-direction: column;

    & > .log {
      width: 100%;
      border-bottom: 1px solid var(--border-color);
      display: flex;
      flex-direction: column;
      align-items: center;

      &.error {
        background-color: var(--error-background-color);
      }

      .header {
        width: 100%;
        height: 20px;
        line-height: 20px;
        padding: 1px 5px 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        gap: 10px;
        font-size: 12px;
        user-select: none;
        cursor: pointer;
        transition: background-color 0.2s;

        &:hover {
          background-color: color-mix(in srgb, var(--hover-background-color), transparent 50%);
        }
        &.expanded {
          background-color: color-mix(in srgb, var(--background-content), transparent 40%);
        }
        & > .status {
          width: 1.3rem;
        }
        & > .status.ok {
          color: var(--status-200-color);
        }

        & > .status.redirect {
          color: var(--status-300-color);
        }

        & > .status.client-error {
          color: var(--status-400-color);
        }

        & > .status.server-error {
          color: var(--status-500-color);
        }

        & > .status.unknown {
          color: var(--status-unkonwn-color);
        }

        & > .method {
          color: var(--console-color);
          font-weight: 500;
        }

        & > .url {
          color: var(--base-color);
          flex-grow: 1;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }

        & > .time {
          white-space: nowrap;
        }
      }

      .details {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        padding: 0.5rem;
        background-color: color-mix(in srgb, var(--background-content), transparent 40%);
        width: 100%;

        .title {
          font-weight: 800;
        }

        .content {
          display: flex;
          flex-direction: column;
          width: 100%;
          border-bottom: 1px solid var(--border-color);

          .row {
            display: grid;
            grid-template-columns: 100px 1fr;
            border-top: 1px solid var(--border-color);
            padding: 0.3rem 0;
            min-height: 1.4rem;

            .label {
              color: var(--console-color);
            }
            .value {
              display: flex;
              flex-direction: column;
              align-items: flex-start;
              gap: 0.1rem;
              overflow-x: auto;
            }
          }

          .pre {
            white-space: pre-wrap;
            word-wrap: break-word;
            font-family: monospace;
            padding: 0.5rem;
            color: var(--base-color);
          }
        }
      }
    }
  }
}
