name: Release
on:
  push:
    tags:
      - 'v*'

permissions:
  contents: write

jobs:
  release:
    name: Release ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [macos-latest, ubuntu-latest, windows-latest]

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'npm'

      - name: Install Dependencies
        run: npm ci

      - name: Build Application
        run: npm run build

      - name: Package and Publish (win / linux)
        if: runner.os != 'macOS'
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        shell: bash
        run: |
          ARGS=""
          if [[ "${{ github.ref_name }}" == *"beta"* ]]; then
            ARGS="-c.publish.releaseType=prerelease"
          fi
          npx electron-builder --publish always $ARGS

      - name: Package and Publish (mac)
        if: runner.os == 'macOS'
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        shell: bash
        run: |
          ARGS=""
          if [[ "${{ github.ref_name }}" == *"beta"* ]]; then
            ARGS="-c.publish.releaseType=prerelease"
          fi
          npx electron-builder --mac --universal --publish always $ARGS
